
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: #eee;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    padding: 10px;
}

.container .song-info{
    background-color: #000;
    margin: 0 15px;
    padding: 15px 15px 5px 150px;
    border-radius: 15px 15px 0 0;
}

.container .song-info .song-name{
    color: #b9b9b9;
    font-size: 14px;
    margin: 3px 0 20px;
}

.container .song-info .artist-name{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.container .song-info .progress-bar{
    background-color: #505050;
    border-radius: 20px;
    cursor: pointer;
}

.container .song-info .progress-bar .fill-bar{
    width: 0;
    height: 6px;
    background: skyblue;
    border-radius: 20px;
}

.container .song-info .time{
    font-size: 15px;
    color: #b9b9b9;
    margin: 10px 0;
}

.container .disk{
    max-width: 120px;
}

.container .disk .active{
    animation: rotate 12s linear 0s infinite forwards;
}

.container .disk .cover{
    width: 145px;
    height: 145px;
    position: absolute;
    top: -3px;
    left: -3px;
    background: url("assets/cover1.jpeg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.container .disk .circle{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 62px;
    top: 58px;
    background-color: #fff;
    z-index: 100;
    border-radius: 50%;
}

.container .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: darkblue;
    width: 450px;
    height: 100px;
    margin-top: -2px;
    margin-left: -2px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(255,255,255,0.3);
}

.container .controls #play{
    background-color: skyblue;
    color: #fff;
    padding: 15px 17px 14px 18px;
    font-size: 28px;
    border-radius: 50%;
    transition: all 0.3s ease-in;
}
.container .controls #play:hover{
    background-color: rgb(74, 169, 207);
}

.container .controls i{
    padding: 30px 5px;
    font-size: 35px;
    cursor: pointer;
    color: rgb(125, 111, 214);
    transition: all 0.3s ease-in-out;
}

.container .controls i:hover{
    color: rgb(224, 221, 243);
}

@keyframes rotate {
    0%{
        transform: rotateZ(0deg);
    }
    60%{
        transform: rotateZ(360deg);
    }
}

@media screen and (max-width: 800px){
    body{
        background: rgb(252, 239, 246);
    }
    
}
@media screen and (max-width: 567px){
    body{
        background: rgb(229, 244, 250);
        transform: scale(0.85) translate(1%, -20%);
    }  
}