
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: #eee;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    height: 100vh;
}

.container{
    position: relative;
    padding: 10px;
}

.container .song-info{
    background-color: #000;
    margin: 0 15px;
    padding: 15px 15px 5px 150px;
    border-radius: 15px 15px 0 0;
}

.container .song-info .song-name{
    color: #b9b9b9;
    font-size: 14px;
    margin: 3px 0 20px;
}

.container .song-info .artist-name{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.container .song-info .progress-bar{
    background-color: #505050;
    border-radius: 20px;
    cursor: pointer;
}

.container .song-info .progress-bar .fill-bar{
    width: 0;
    height: 6px;
    background: skyblue;
    border-radius: 20px;
}

.container .song-info .time{
    font-size: 15px;
    color: #b9b9b9;
    margin: 10px 0;
}

.container .disk{
    max-width: 120px;
}
